<div class ="container-fluid">
  <form class="form-group card-body ">
    <input type="text" placeholder="Orator" class="form-control m-2" name="author" required>        

    <textarea name="quote" class="form-control m-2" placeholder="Type your quote" id="" cols="80" rows="10" required></textarea>

    <input type="text" placeholder="UsersName" class="form-control m-2" name="submitter" required>

    <button type="submit" class="btn bg-dark m-2">Submit  <i class="fa fa-telegram"></i></button>
</form>
</div>
